:root {
  --body-padding: 3rem;
  --funky-red: #f63c3f;
  --white: #ffffff;
}

@font-face {
  font-family: AgrandirVariable;
  src: url(fonts/AgrandirVariable.ttf);
}
@font-face {
  font-family: Dia;
  src: url(fonts/Dia-Regular.ttf);
}
@font-face {
  font-family: Dia;
  src: url(fonts/dia-bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: FormulaCondensed-Bold;
  src: url(fonts/FormulaCondensed-Bold.otf);
}

/* BASE */
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: Dia;
}
h1 {
  color: var(--white);
  font-size: 5rem;
  margin: 0;
  font-family: FormulaCondensed-Bold;
  max-width: 30rem;
}
h2 {
  font-size: 7rem;
  margin: 0;
  font-family: FormulaCondensed-Bold;
  word-break: break-word;
}
p {
  margin: 0;
}
a {
  color: inherit;
}

/* LEFT SIDE */
.main-copy {
  background: #000000;
  padding: var(--body-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: calc(50% - calc(var(--body-padding) * 2));
}
.main-copy footer {
  display: flex;
  justify-content: space-between;
}
.main-copy p {
  color: var(--white);
  margin-top: 0.1rem;
}
.main-copy .questions {
  color: var(--funky-red);
  margin-top: 0.3rem;
}
.main-copy svg {
  align-self: flex-end;
}

/* RIGHT SIDE */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--body-padding) solid var(--funky-red);
  border-left: 0;
  padding: var(--body-padding);
  min-width: calc(50% - calc(var(--body-padding) * 3));
}
.content .location {
  font-size: 1.4rem;
}
.content .apps {
  display: flex;
}
.content .apps p {
  padding: 0.5rem;
  font-size: 0.7rem;
  border: 3px solid black;
}
.content .apps p + p {
  border-left: 0;
}
.content .apps u {
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 0.2rem;
}
.content button {
  cursor: pointer;
  font-family: Dia;
  font-weight: bold;
  color: var(--white);
  font-size: 1rem;
  background: var(--funky-red);
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
}
.content button svg {
  margin-bottom: -3px;
  margin-left: 5px;
}
